html {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding-bottom: 100px; /* Espacio para el footer */
  background: rgb(0, 39, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 39, 255, 0.6610293775713411) 0%,
    rgba(134, 148, 235, 1) 49%,
    rgba(0, 26, 255, 0.5013655120251226) 100%
  );
}

header {
  background: rgb(0, 125, 6);
  background: linear-gradient(
    90deg,
    rgba(0, 125, 6, 0.6610293775713411) 0%,
    rgba(114, 181, 119, 1) 49%,
    rgba(2, 133, 0, 0.5013655120251226) 100%
  );
  color: #fff;
  text-align: center;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans";
  font-weight: bold;
  color: #0c0403;
}

nav {
  background: rgb(0, 125, 6);
  background: linear-gradient(
    90deg,
    rgba(0, 125, 6, 0.6610293775713411) 0%,
    rgba(114, 181, 119, 1) 49%,
    rgba(2, 133, 0, 0.5013655120251226) 100%
  );
  padding: 0;
  margin: 0;
  left: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #717a74;
}

a:hover {
  color: #0c0403;
  cursor: pointer;
}

.parrafo_principal {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

#carouselExampleIndicators {
  margin: 10px;
  padding: 10px;
}

#staff {
  font-size: x-large;
}

#registro_login {
  text-decoration-line: none;
}

#gridCheck {
  background-color: #596653;
}

#login {
  padding: 50px;
  margin: 50px;
}

#registro {
  padding: 50px;
  margin: 50px;
}

.card {
  padding: 10px;
  margin: 10px;
}

.card-zoom:hover {
  transform: scale(1.1); /* Aumenta la escala al 110% */
  transition: transform 0.3s ease; /* Animación suave */
}

label {
  padding-top: 10px;
}

footer {
  background-color: #212221;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px; /* Asegúrate de que este valor coincida con el padding-bottom del body */
  color: #fff;
  margin-top: 0;
  padding-top: 10px;
  left: 0;
}

.footer-content {
  max-width: 100%; /* Ancho máximo del contenido del footer */
  margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
  padding: 0;
  text-align: center;
}

#facebook,
#instagram,
#gitHub {
  width: 50px;
  height: auto;
  border: none;
  display: inline-block;
  margin-left: 10px;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
